/* body {
  color: rgb(255, 0, 0);
}
.black-border {
  border: 5px solid black;
}
#green-background {
  background-color: green;
} */
* {
  margin: 0 auto;
  width: 95%;
}
.box {
  margin: 1.1%;
  border: 5px solid lightgreen;
  padding-bottom: 2%;
}

.titles {
  margin: 1% auto;
  text-align: center;
  font-size: 260%;
}
.context {
  padding-top: 1.2%;
  padding-bottom: 1.5%;
  text-align: center;
  font-size: 130%;
}
.nav ul {
  background-color: skyblue;
  height: 25px;
  padding: 2% 0% 2% 10%;
  list-style: none;
}
.nav li {
  font-size: 130%;
  padding-left: 25%;
  list-style-type: none;
  display: inline;
}
#copy {
  padding-top: 5%;
  text-align: center;
  font-size: 120%;
}
#section-color {
  background-color: grey;
}
#imgset {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  width: 30%;
}
